[Unit]
Description=Sway Wayland Compositor für Digital Signage
Requisite=signage-chromium.target
After=signage-chromium.target
Wants=seatd.service
After=seatd.service
PartOf=signage-chromium.target

[Service]
User=chromium
PAMName=login
Type=simple
StandardInput=tty
StandardOutput=journal
StandardError=journal
TTYPath=/dev/tty1

# Dynamisches Runtime-Dir in /run/chromium
RuntimeDirectory=chromium
RuntimeDirectoryMode=0700
Environment=XDG_RUNTIME_DIR=/run/chromium
Environment=XDG_SESSION_TYPE=wayland
Environment=XDG_CURRENT_DESKTOP=sway
Environment=WLR_NO_HARDWARE_CURSORS=1
Environment=WLR_LIBINPUT_NO_DEVICES=1

ExecStart=/usr/bin/sway --unsupported-gpu

Restart=always
RestartSec=5

[Install]
WantedBy=signage-chromium.target