[Unit]
Description=Digital Signage mit MPV Player
Documentation=man:systemd.special(7)

Requires=signage.target
After=signage.target
AllowIsolate=yes

[Install]
Alias=signage-mpv.target